* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    height: auto;
    border: 1px solid rgba(128, 128, 128, 0.196);
    background-color: rgba(128, 128, 128, 0.167);
}

.card:hover{
       box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.358);
}

.card h1 {
    color: rgb(255, 0, 0);
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card input {
    width: 80%;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
}

.card button:hover {
   background-color: rgba(255, 0, 0, 0.707);
   border: 1px solid gray;
}

.card #error {
    color: white;
}

#poster {
    margin-top: 20px;
    width: 200px;
    border-radius: 19px;
    display: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
}


#info {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    width: 90%;
    text-align: left;
    color: rgba(255, 255, 255, 0.83);
}

